{% extends 'base.html' %}
 {% block page_title_header %} About webapp {% endblock %}
{% block content %}
<style>
	.list1 li{text-align:left; font-size:30px; color:#774D5A;}
</style>
<h1> About the webapp- </h1>
<h4>
<ul class="list1">
<li> What is a ToDo List?
	-: It’s a list of tasks you need to complete or things that you want to do.</li>
<br>
<li> This webapp will help you to manage your task's. Having a list of everything you need to do written down in one place means you shouldn’t forget anything important. </li>
<br>
<li> You can add description to your task by which you can get clear idea about the task when you view it later </li>
<br>
<li> You can also marks task as done after you have finished it, this will make you get a clear outline of the tasks you’ve got to do and those you’ve completed, it helps you stay focused.</li>
<br>
<li> You can also delete the task's if you want, it will keep the list well organised </li>
<br>
<li>                         It’s only possible to hold a few pieces of information at one time. Keep a to do list and you’ll be able to keep track of everything, rather than just a few of the tasks you need to do. Your to do list will also reinforce the information, which makes it less likely you’re going to forget something.</li>
<br>
 <li>           To do lists are a great motivational tool because you can use them to clarify your goals. You can divide your long-term goal into smaller, more achievable short-term goals and as you tick each one off your list.  </li>
</ul>
</h4>
{% endblock %}